<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color:blue">
    welcome to our user management</h1>
    <br><hr>
    <h3>click here to log out</h3><br>
    <br/>
    <form action="/fetchProfile" method="GET">
       
       <button  type="submit"><a href="/showUserProfile"></a><br>Fetch profile</button>
    </form>
    <a href="/logout">Logout</a>
    <br><br>
    <a href="/updateInfo">Update your profile</a>
    <br>


</body>
</html>